<section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url(images/11.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-8 col-sm-12 text-center ftco-animate">
              <h1 class="mb-4">Лучшая кухня Лефортово</h1>
              <p><a href="/menu" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Посмотреть меню</a></p>
            </div>

          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url(images/12.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-8 col-sm-12 text-center ftco-animate">
              <h1 class="mb-4">Лучшая кухня Лефортово</h1>
              <p><a href="/menu" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Посмотреть меню</a></p>
            </div>

          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url(images/13.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-8 col-sm-12 text-center ftco-animate">
              <h1 class="mb-4">Лучшая кухня Лефортово</h1>
              <p><a href="/menu" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Посмотреть меню</a></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="ftco-intro">
    	<div class="container-wrap">
    		<div class="wrap d-md-flex align-items-xl-end">
	    		<div class="info">
	    			<div class="row no-gutters">
	    				<div class="col-md-4 d-flex ftco-animate">
	    					<div class="icon"><span class="icon-phone"></span></div>
	    					<div class="text">
	    						<h3>Контактный телефон:</h3>
	    						<p>	+7 (925) 545-10-63</p>
	    					</div>
	    				</div>
	    				<div class="col-md-4 d-flex ftco-animate">
	    					<div class="icon"><span class="icon-my_location"></span></div>
	    					<div class="text">
	    						<h3>Адрес: </h3>
	    						<p>ул. Энергетическая, д. 14, к. 1 (м. Авиамоторная) </p>
	    					</div>
	    				</div>
	    				<div class="col-md-4 d-flex ftco-animate">
	    					<div class="icon"><span class="icon-clock-o"></span></div>
	    					<div class="text">
	    						<h3>Часы работы:</h3>
	    						<p>11:00 - 23:00</p>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-about d-md-flex">
    	<div class="one-half img" style="background-image: url(images/main.png);"></div>
    	<div class="one-half ftco-animate">
    		<div class="overlap">
	        <div class="heading-section ftco-animate ">
	          <h2 class="mb-4">о нашем кафе</h2>
	        </div>
	        <div>
	  				<p>"Твое кафе" - это место, где каждый насладится проведенным здесь временем. Большое разнообразие вкусных блюд, приятная дружелюбная атмосфера, демократичные цены - все это делает пребывание в нашем кафе незабываемым.</p>
	  			</div>
  			</div>
    	</div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row align-items-center">
    			<div class="col-md-6 pr-md-5">
    				<div class="heading-section text-md-right ftco-animate">
	            <h2 class="mb-4">Наше меню</h2>
	            <p class="mb-4">Вкуснейшие роллы и суши, пиццы на тонком тесте, ароматные супы европейской и азиатской кухни, аппетитные горячие блюда, нежнейшие десерты, вегетарианская кухня - разнообразие блюд в нашем кафе порадует любого!</p>
	            <p><a href="/menu/" class="btn btn-primary btn-outline-primary px-4 py-3">Посмотреть меню</a></p>
	          </div>
    			</div>
    			<div class="col-md-6">
    				<div class="row">
    					<div class="col-md-6">
    						<div class="menu-entry">
		    					<a href="#" class="img" style="background-image: url(images/f1.png);"></a>
		    				</div>
    					</div>
    					<div class="col-md-6">
    						<div class="menu-entry mt-lg-4">
		    					<a href="#" class="img" style="background-image: url(images/f4.png);"></a>
		    				</div>
    					</div>
    					<div class="col-md-6">
    						<div class="menu-entry">
		    					<a href="#" class="img" style="background-image: url(images/f2.png);"></a>
		    				</div>
    					</div>
    					<div class="col-md-6">
    						<div class="menu-entry mt-lg-4">
		    					<a href="#" class="img" style="background-image: url(images/f3.png);"></a>
		    				</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

	<section class="ftco-appointment">
			<div class="overlay"></div>
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A693d80c60af5d748874f3572305ba298d7854ce29f7bfd0dd4552f90c2e6abb4&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </section>



  <!-- loader -->
  <div id='ftco-loader' class='show fullscreen'><svg class='circular' width='48px' height='48px'><circle class='path-bg' cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee'/><circle class='path' cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00'/></svg></div>


  <script src='/javascripts/jquery.min.js'></script>
  <script src='/javascripts/jquery-migrate-3.0.1.min.js'></script>
  <script src='/javascripts/popper.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>
  <script src='/javascripts/jquery.easing.1.3.js'></script>
  <script src='/javascripts/jquery.waypoints.min.js'></script>
  <script src='/javascripts/jquery.stellar.min.js'></script>
  <script src='/javascripts/owl.carousel.min.js'></script>
  <script src='/javascripts/jquery.magnific-popup.min.js'></script>
  <script src='/javascripts/aos.js'></script>
  <script src='/javascripts/jquery.animateNumber.min.js'></script>
  <script src='/javascripts/bootstrap-datepicker.js'></script>
  <script src='/javascripts/jquery.timepicker.min.js'></script>
  <script src='/javascripts/scrollax.min.js'></script>
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false'></script>
  <script src='/javascripts/google-map.js'></script>
  <script src='/javascripts/main.js'></script>